@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("ttf");
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("woff");
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
}

:root {
  --background-color: #f5f5f5;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
  --button-color: #007bff;
  --button-hover-color: #0056b3;
  --table-header-color: #52595f;
  --table-row-odd-color: #8cd3f7;
  --table-row--even-color: #66c8f9;
  --status-borrowed-color: #db5b68;
  --status-available-color: #5aaf6e;
  --grey-color: #6c757d;
}

body {
  @apply min-h-screen bg-primaryBgColor font-montserrat-regular text-lg text-primaryTextColor;
}

.primary-btn {
  @apply rounded-md bg-buttonColor px-4 py-2 font-montserrat-semibold text-secondaryTextColor hover:bg-buttonHoverColor;
}

.input-field {
  @apply h-11 rounded-md border border-solid border-slate-400 px-3 py-1.5 focus:border-buttonColor focus:outline-none;
}

.label {
  @apply flex flex-col gap-1;
}

th {
  @apply w-1/5 border border-white;
}

.number-column {
  @apply w-auto px-4;
}

tbody tr {
  @apply bg-tableRowOddColor;

  &:nth-child(even) {
    @apply bg-tableRowEvenColor;
  }
}

td {
  @apply border border-white;
}
